body {
    margin: 0;
    padding: 0;
    height: 100vh;
}

p{
    text-align: justify;
    margin-top: auto;
}

button{
    text-align: center;
}


.btn-send {
    background-color: darkred;
    border: none;
}

.navbar {
    border-bottom: 1px solid black;
}
.imgProfileAcc {
    width: 150px;
    margin-top: 60px;
    
}


.btn-secondary{
    margin-top: 50px;
}


.titreCompetence {
   margin: 120px 0 20px 0;
}

.logo-competences{
    margin-top: 30px;
    bottom: auto;
}


.p-bt{
    margin-top: 10px;
    bottom: -10px;
}

.text-center{
    margin-top: 20px;
    bottom: auto;
}


/* FORMULAIRE DE CONTACT */
.titreContact {
    padding: 40px 0 50px 0;
    margin-top: 100px;
}

